<li class="contributor">
  <a href="http://127.0.0.1:4200/#about-us">
    <img
      src="https://via.placeholder.com/60"
      alt="ferris profile pic"
      height="60"
      width="60"
    />
  </a>
</li>
