<section id="contributors">
  <div id="content">
    {{> ../components/title
      text="Contribuidores"
      href="contributors"
    }}
    <ul>
      {{> contributor}}
      {{> contributor}}
      {{> contributor}}
      {{> contributor}}
      {{> contributor}}
      {{> contributor}}
      {{> contributor}}
      {{> contributor}}
      {{> contributor}}
    </ul>
  </div>
</section>
