<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  {{> header/index}}
  <main id="main-content">
    {{> home/index}}
    {{> github-radar/index}}
    {{> about/index}}
    {{> contributors/index}}
  </main>
  {{> footer/index}}
</body>
</html>
