<section id="github-radar">
  {{#> ../components/tabs/index}}
    {{> ../components/tabs/tab title="Actividad" active="active"}}
    {{> ../components/tabs/tab title="Issues"}}
    {{> ../components/tabs/tab title="Repositorios"}}
  {{/ ../components/tabs/index}}
  <!-- Issues Tab -->
  {{> activity/index}}
  <!-- Issues Tab -->
  {{> issues/index}}
  <!-- Repositories Tab -->
  {{> repositories/index}}
</section>
