<ul id="social">
  <li>
    <a href="">
      {{> ../icons/discord size="28" }}
    </a>
  </li>
  <li>
    <a href="">
      {{> ../icons/telegram size="28" }}
    </a>
  </li>
  <li>
    <a href="">
      {{> ../icons/github size="28" }}
    </a>
  </li>
</ul>
