@import './theme/theme.scss';

#contributors {
  #content {
    @include section-content();

    ul {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0;
      padding: 0;

      .contributor {
        height: 60px;
        margin: 1rem;
        width: 60px;

        img {
          border-radius: 100px;
        }
      }
    }
  }
}
