@import './theme/theme.scss';

#header {
  background-color: rgba(56, 65, 70, 0.9);
  height: 52px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  #header-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: $content-size;
    margin: 0 auto;
    padding: 0 1rem;

    #branding {
      align-items: center;
      display: flex;
      height: 52px;

      h1 {
        color: #fff;
        font-size: 1.3rem;
        margin: 0 1rem;
      }
    }

    #social {
      align-items: center;
      display: flex;
      height: 52px;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        color: #fff;
        margin-right: .5rem;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
