<section id="home">
  <div id="blur"></div>
  <div id="content">
    <img
      id="logo"
      alt="Rust Venezuela Logo"
      src="https://github.com/rust-lang-ve/design/blob/feature/layout/assets/ferris.png?raw=true"
      height="120"
      width="180"
    />
    <h2>Organización de Rust en Venezuela</h2>
    <p id="introduction">
      Organización para programadores <a href="https://www.rust-lang.org/" target="_blank" class="link">Rust</a>
      en Venezuela, abierta a programadores de otras comunidades, interesados tanto en el lenguaje
      &nbsp;<strong>Rust</strong>, como en la programación en general.
    </p>
    <button>
      <span>Únete al grupo en Telegram!</span>
    </button>
  </div>
</section>
