{{#> ../../components/tabs/content id="activity"}}
  <ul id="events">
    <li class="event push">
      <header>
        <h3>Realizo un commit</h3>
        <small>1 de Enero, 2020</small>
      </header>
      <span>Se realizo un commit al repositorio <b>spiderman-repo</b></span>
      <footer>
        <img src="https://via.placeholder.com/150" alt="PeterParker Avatar" height="26" width="26" />
        <span>PeterParker</span>
      </footer>
    </li>
    <li class="event pull-request">
      <header>
        <h3>Abrio un Pull Request</h3>
        <small>1 de Enero, 2020</small>
      </header>
      <span>Se abrio un pull request en el repositorio <b>spiderman-repo</b></span>
      <footer>
        <img src="https://via.placeholder.com/150" alt="PeterParker Avatar" height="26" width="26" />
        <span>PeterParker</span>
      </footer>
    </li>
    <li class="event delete">
      <header>
        <h3>Eliminacion de un branch</h3>
        <small>1 de Enero, 2020</small>
      </header>
      <span>Se elimino el branch <b>branch-name</b> en el repositoro <b>spiderman-repo</b></span>
      <footer>
        <img src="https://via.placeholder.com/150" alt="PeterParker Avatar" height="26" width="26" />
        <span>PeterParker</span>
      </footer>
    </li>
    <li class="event pull-request-review">
      <header>
        <h3>Revision de Pull Request</h3>
        <small>1 de Enero, 2020</small>
      </header>
      <span><b>johnappleseed</b> reviso el pull request de <b>spiderman2</b> en el repositorio <b>spiderman-repo</b></span>
      <footer>
        <img src="https://via.placeholder.com/150" alt="PeterParker Avatar" height="26" width="26" />
        <span>PeterParker</span>
      </footer>
    </li>
    <li class="event create">
      <header>
        <h3>Nuevo repositorio</h3>
        <small>1 de Enero, 2020</small>
      </header>
      <span><b>robotcop</b> creo el nuevo repositorio <b>spiderman-repo</b></span>
      <footer>
        <img src="https://via.placeholder.com/150" alt="PeterParker Avatar" height="26" width="26" />
        <span>PeterParker</span>
      </footer>
    </li>
  </ul>
{{/ ../../components/tabs/content}}
