<li class="issue">
  <h3 class="issue-title">{{title}}</h3>
  <article class="issue-details">
    <strong class="repository">{{repository}}</strong>
    <span class="assignee">{{assignee}}</span>
  </article>
  <footer>
    <a class="goto" href={{goto}} target="_blank">Open in GitHub</a>
  </footer>
</li>